In [1]:
name = input("이름 입력>>")
while name:
    print(f"{name} 최고!")
    name = input("이름입력>>")

    if name == '최성우':
        print(f"{name} 멋지다!")
        break

이름 입력>>2
2 최고!
이름입력>>2
2 최고!
이름입력>>2
2 최고!
이름입력>>2
2 최고!
이름입력>>2
2 최고!
이름입력>>2
2 최고!
이름입력>>2
2 최고!
이름입력>>2
2 최고!
이름입력>>2
2 최고!
이름입력>>최서웅
최서웅 최고!
이름입력>>최서우
최서우 최고!
이름입력>>최성우
최성우 멋지다!

In [2]:
while True:
    num1 = int(input("첫 번째 정수 입력>>"))
    num2 = int(input("두 번째 정수 입력>>"))
    print (f"두 정수의 합 :{num1+num2}") #이거랑 마지막에 코드 넣는거 차이
    if num1 == 0 and num2 == 0:
        print("프로그램이 종료되었습니다.")
        break

첫 번째 정수 입력>>0
두 번째 정수 입력>>0
두 정수의 합 :0
프로그램이 종료되었습니다.

# 밑에 주석 처리 한 것이 틀린것은 break 문이 종료 시키는 것인데 if문 조건이 무조건 만족이어서 break문이 실행이 되서 주석 아래 처럼 바꿔줘야한다.

In [3]:
#s_weight=int(input("현재 몸무게 :"))
#g_weight = int(input("목표 몸무게 :"))
#num=1
#a = s_weight
#while True:
   
#    if num<=4:
        
#        w_weight = int(input("%d주차 감량 몸무게 :"%num))
#        num=num+1
#        a-=w_weight
   
#    break
#print(f"{a}kg 달성!! 축하합니다!")



s_wight=int(input("현재 몸무게 :"))
g_wight = int(input("목표 몸무게 :"))
num=1
a = s_wight
while True:
        w_wight = int(input("%d주차 감량 몸무게 :"%num))
        num=num+1
        a-=w_wight
        if num>4:
            break
print(f"{a}kg 달성!! 축하합니다!")

현재 몸무게 :0
목표 몸무게 :0
1주차 감량 몸무게 :0
2주차 감량 몸무게 :0
3주차 감량 몸무게 :0
4주차 감량 몸무게 :0
0kg 달성!! 축하합니다!

In [4]:
#다이어트
cur_weight = int(input('현재 몸무게 : '))
goal_weight = int(input('목표 몸무게 : '))
num = 1
# 현재몸무게가 목표몸무게보다 큰 경우 감량을 반복해줘야하므로 조건 설정!
while cur_weight >= goal_weight:
    week_weight = int(input(f'{num}주차별 감량 몸무게 : '))
    num += 1
    cur_weight -= week_weight
print(f'{cur_weight}kg 달성!! 축하합니다!')

현재 몸무게 : 0
목표 몸무게 : 0
1주차별 감량 몸무게 : 0
2주차별 감량 몸무게 : 0
3주차별 감량 몸무게 : 0
4주차별 감량 몸무게 : 0
5주차별 감량 몸무게 : 0
6주차별 감량 몸무게 : 0
7주차별 감량 몸무게 : 0
8주차별 감량 몸무게 : 0
9주차별 감량 몸무게 : 0
10주차별 감량 몸무게 : 0
11주차별 감량 몸무게 : 0
12주차별 감량 몸무게 : 01
-1kg 달성!! 축하합니다!

In [5]:
import random
random.randint(1,50)

30

In [6]:
num = random.randint(1,50)

while True:
    NUM= int(input("숫자를 입력하세요 >> "))
    if num <NUM:
        print(f"{NUM}보다 작은 수 입니다.")
    elif num>NUM:
        print(f"{NUM}보다 큰 수 입니다.")
    else:
        print(f"정답을 맞추셨습니다.")
        break

숫자를 입력하세요 >> 0
0보다 큰 수 입니다.
숫자를 입력하세요 >> 0
0보다 큰 수 입니다.
숫자를 입력하세요 >> 0
0보다 큰 수 입니다.
숫자를 입력하세요 >> 01
1보다 큰 수 입니다.
숫자를 입력하세요 >> 2
2보다 큰 수 입니다.
숫자를 입력하세요 >>

ValueError: invalid literal for int() with base 10: ''

# for 문 => 순서가 있는 인덱스만 가능하다.

In [7]:
list_food = ['햄버거', '치킨', '피자']
for food in list_food:
    print(food)

햄버거
치킨
피자

In [8]:
hi = "안녕하세요" #인덱스 1-> 안 2->녕 ..이런식으로 들어가서
for s in hi:
    print(s)

안
녕
하
세
요

In [9]:
tuple_food = ("햄버거", "치킨", "피자")
for food in tuple_food:
    print(food)

햄버거
치킨
피자

In [10]:
score_list = [90,45,70,60,55]

if score >= 60:
    a=("합격")
else:
    a= ("불합격")
    for score in score_list:
    
        print("{len(score)}학생은 {a}입니다.")

NameError: name 'score' is not defined

In [11]:
.#합격 불합격 판별
score_list = [90,45,70,60,55]
num =1  
for score in score_list:
       
    if score >= 60:
        print(f"{num}번 학생은 합격입니다.")
    else:
        print(f"{num}번 학생은 불합격입니다.")
    num+=1

SyntaxError: invalid syntax (2245195591.py, line 1)

In [12]:
python_score= [57, 86, 63, 92,35,79]
num=0
for score in python_score:
    num+=1
    if score >= 80:
        print(f"{num}번은 {score}점 이며, A등급 입니다.")
    elif score >= 60:
        print(f"{num}번은 {score}점 이며, B등급 입니다.")
    else:
        print(f"{num}번은 {score}점 이며, C등급 입니다.")

1번은 57점 이며, C등급 입니다.
2번은 86점 이며, A등급 입니다.
3번은 63점 이며, B등급 입니다.
4번은 92점 이며, A등급 입니다.
5번은 35점 이며, C등급 입니다.
6번은 79점 이며, B등급 입니다.

# 위랑 같은 문제

In [13]:
python_score= [57, 86, 63, 92,35,79]
num=0
for score in python_score:
    num+=1
    if score >= 80:
        grade = "A"
    elif score >= 60:
        grade = "B"
    else:
        grade = "C"
    print(f"{num}번은 {score}점 이며, {grade}등급 입니다.")

1번은 57점 이며, C등급 입니다.
2번은 86점 이며, A등급 입니다.
3번은 63점 이며, B등급 입니다.
4번은 92점 이며, A등급 입니다.
5번은 35점 이며, C등급 입니다.
6번은 79점 이며, B등급 입니다.

In [14]:
for i in range(1,10,1):  #1부터 9까지 1씩 증가
    print(i)

1
2
3
4
5
6
7
8
9

# end = " " 속성

In [15]:
for i in range(1,10,1):  #1부터 9까지 1씩 증가
    print(i, end = "&") #end = ""을 쓰면 줄 바꿈이 각각의 값들 사이에 들어간다. 공백=> 띄어쓰기

1&2&3&4&5&6&7&8&9&

# 97 ~ 77 까지 1씩 감소

In [16]:
for i in range(97, 76,-1):
    print(i, end = " ")

97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77

In [17]:
for i in range(29,40):
    print(i, end = " ")

29 30 31 32 33 34 35 36 37 38 39

In [18]:
for i in range(2, 101, 2):
    print(i, end = " ")

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [19]:
for i in range(3,101,3):
    print(i,end = " ")

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [20]:
list1 = [[1,2], [3,4],[5,6]]
for i,j in list1:
    print(i,j)

1 2
3 4
5 6

In [21]:
a,b = 1, 7
print(a)
print(b)

1
7

# 최댓값찾기

In [22]:
list2 = [4,5,2,1,99,15,2,7,27]
max_num = list2[0]
for i in list2:
    if max_num <i:
        max_num=i
print(max_num)

99

#  최솟값 찾기

In [23]:
list2 = [4,5,2,1,99,15,2,7,27]
min_num = list2[0]
for i in list2:
    if min_num >i:
        min_num=i
print(min_num)

1

# max 함수

In [24]:
list3 = [4,5,2,1,99,15,2,7,27]
max(list3 )

99

In [25]:
sum=0
for i in range(1,100):
    if i%3==0:
        sum =sum+i
print(sum)

1683

In [26]:
for i in range(1,10,1):
    print("2*",i,"=", 2*i)
       # print(f"2 * {i} = {2*i}")

2* 1 = 2
2* 2 = 4
2* 3 = 6
2* 4 = 8
2* 5 = 10
2* 6 = 12
2* 7 = 14
2* 8 = 16
2* 9 = 18

In [2]:
a =[]
num = int(input("정수 입력>>"))
for i in range(1,num+1):
    if num% i ==0:
        a=i
        print(a, end = " ")

정수 입력>>8
1 2 4 8

In [28]:
num = int(input("정수 입력>>"))
print(f"{num}의 약수 :", end = " ")
for i in range(1,num+1): # num +1 을 해야 1부터 num 까지의 수가 나온다.
    if num% i == 0:
        print(i, end = " ")

정수 입력>>

ValueError: invalid literal for int() with base 10: ''

In [32]:

for i in range(1,7):
     print("*"*i)  
            # *을 1번 곱하면 * , 2번 곱하면 **, ...

*
**
***
****
*****
******

In [34]:
i = int(input("줄 수 입력>>"))
for i in range(1,i+1):
     print("*"*i)

줄 수 입력>>6
*
**
***
****
*****
******

In [31]:
i = int(input("줄 수 입력>>"))
for i in range(1,i+1):
    print("*"*i) 
for i in range(i+1,0,-1):
    print("*"*i)

줄 수 입력>>3
*
**
***
****
***
**
*

In [ ]:
for i in range(1,6,1):
    print("*"*i)
for i in range(6,0,-1):
    print("*"*i)

In [ ]:
start =int(input("첫 번째 정수 입력 >> "))
end = int(input("두 번째 정수 입력 >> "))
print("정수 :", end = " ")
for i in range(start, end+1):
     print(i, end= " ")

In [ ]:
num1 = int(input("첫 번째 정수 입력 >>"))
num2 = int(input("두 번째 정수 입력 >>"))
a = int(input("배수 입력 >>"))
sum = 0
for i in range(num1, num2+1):
    if i %a ==0:   #약수는 a%i, 이고 배수는 i%a
        sum +=i
print(f"{a}의 배수의 합 : {sum}")

In [ ]:
s = ".nohtyp deen uoY ,trohs oot si efiL"
print(len(s)) #len이 35면 인덱스는 0 부터 시작이므로 0~ 34까지 있다
for i in range(s[34],s[-1],-1):
    print(i)

In [ ]:
#양의 인덱스 활용
s = ".nohtyp deen uoY ,trohs oot si efiL"
print(len(s)) #len이 35면 인덱스는 0 부터 시작이므로 0~ 34까지 있다
for i in range(len(s)-1,-1,-1):
    print(s[i], end = "")

In [ ]:
#양의 인덱스 활용
s = ".nohtyp deen uoY ,trohs oot si efiL"
print(len(s)) #len이 35면 인덱스는 0 부터 시작이므로 0~ 34까지 있다
for i in range(-1,-len(s)-1,-1):
    print(s[i], end = "")

In [ ]:
a=2
while True:
    
    for i in range(1,10):
        print(f"{a}*{i}={a*i}",end ="  ")
    print("\n")
    a+=1
    if a>9:
        break

In [ ]:
for k in range(1,10,1):
    for i in range(2,10,1):
        print(f"{i}*{k}={i*k}",end = "\t")
    print()
# 출력은 가로 먼저

In [ ]:
for i in range(2,10,1):
    for k in range(1,10,1):
        print(f"{i}*{k}={i*k}",end ="  ")
    print()

In [ ]:
list1 = [1,30,7,9,17,3,5,23,44]
sum = 0
for i in list1:
    #짝수인 경우
    if i %2 ==0:
        sum+=1
print(f"짝수 {sum}개, 홀수{len(list1)-sum}개")

In [ ]:
list1 = [1,30,7,9,17,3,5,23,44]
odd = 0 
even = 0
for i in list1:
    if i % 2 == 0:
        even+=1
    else:
        odd +=1
print(f"짝수 {even}개, 홀수{odd}개")

In [10]:
ox = input('OX 입력 >>')
score = 0
result = 0
for i in range(0,len(ox)):
    if ox[i] =='O':
        score += 1
        result += score
    else:
        score = 0 
print(f"{result}점")

OX 입력 >>OXO
2점

In [8]:
print("이름\tPython\tJava\tDB\t평균\t학점")
score_list =[["박매일",89,78,99],
             ["김미희",67,88,77],
             ["강예진",100,55,96]      
             ]

for i in range(0,len(score_list)) :
    score = score_list[i]
    for k in range(0,4):
        list = score[k]
        print(list, end = "\t")

    print()

print("평균\t ")

이름	Python	Java	DB	평균	학점
박매일	89	78	99
김미희	67	88	77
강예진	100	55	96
평균

In [ ]:
print("="*50)
print("이름\t", "Python\t ",  "Java\t ", "DB\t", "평균\t", "학점")
print("="*50)
score_list =[["박매일",89,78,99],
             ["김미희",67,88,77],
             ["강예진",100,55,96],
             
             ]
python, java,db = 0,0,0
for i in score_list:
    #선생님별 평균
    
    avg = (i[1]+i[2]+i[3])/3
    #과목별 평균
    avg_p,avg_j,avg_d = 0, 0, 0
    
    if avg >=90:
        grade ="A"
    elif avg>=80:
        grade ="B"
    elif avg>=70:
        grade ="C"
    elif avg>=60:
        grade ="D"
    else:
        grade ="F"
        
        #4~6번째 줄까지 출력
    print(i[0],"\t ",i[1],"\t ", i[2], "\t ", i[3],"\t ",int(avg), "\t", grade)
    #과목별 평균 알고리즘
    python +=i[1] #python 점수의 합
    java += i[2] # java 점수의 합
    db  += i[3] #db 점수의 합
    
avg_p = python/len(score_list)
avg_j = java/len(score_list)
avg_d = db/len(score_list)
print("="*50)
print("평균 \t ",int(avg_p),"  \t ",int(avg_j)," \t ", int(avg_d) )