In [2]:
num1 = 13
num1

13

In [3]:
num2= 25
num2

25

In [4]:
num2 = 77
num2

77

In [5]:
#type는 변수의 자료형 확인하는 함수
type(num2)

int

In [ ]:
num3 = 3.1425
num3

In [ ]:
num4 = 1.25
num4

In [ ]:
num4 = 3.12
num4

In [ ]:
type(num4)

In [ ]:
str1 = "Funny python"
str1

In [ ]:
str2 = 'Easy python'
str2

In [ ]:
type(str2)

In [ ]:
number = 10
Number = 20

number
Number  # 20 이렇게 적으면 마지막에 있는 변수만 저장 된다. (위에 있는 number의 값 출력 xx)
print("number :", number)
print("Number :", Number)# 두 변수 다 출력하고 싶으면 print함수를 사용하면 됨!

In [ ]:
1a = 10

In [ ]:
if #짙은 초록 예약어-> 예약어는 변수로 사용 안 됨
for
class
print #초록 명령어 -> 명령어는  면수로 가능하지만, 원래 기능이 사라진다.
sum
max

In [6]:
import keyword # 예약어 종류
keyword.kwlist

['False',
 'None',
 'True',
 '__peg_parser__',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
a=10 
b=15
print(a)
print(b)

In [ ]:
a, b = 10, 15 #python은 콤마로도 변수 값 저장이 가능하다
print(a)
print(b)

In [ ]:
str1 = "python"
str2 = "python"
print(str1)
print(str2)

In [ ]:
str1 = str2 = "python"

print(str1)
print(str2)

In [ ]:
x, y = 100, 200
sum = x + y  #sum을 변수로 사용
print(sum)

In [1]:
sum([1,2,3,4]) # 에러가 나는 이유는 위에 sum을 변수로 사용해서 에러가 뜬다. 

#kernel -> Restart & Clear Output 선택하면 실행 값들이 없어짐

10

In [4]:
s = 'she's gone'  # 따옴표 오류
s

SyntaxError: invalid syntax (3758320302.py, line 1)

In [7]:
s1 = "she's gone" #큰 따옴표로 변경
s2 = 'she\'s gone' # \' 사용
print(s1)
print(s2)

she's gone
she's gone

In [57]:
s1 = "he said that'she is gone'"
s2 = "he said that\"she is gone\""
print(s1)
print(s2)
len(s1)
print(s1[-7:])
#문자열 안에 작은따옴표나 큰따옴표를 포함시키고 싶을 때

he said that'she is gone'
he said that"she is gone"
s gone'

SyntaxError: invalid syntax (2669325554.py, line 1)

In [10]:
s= "여러줄로 구성된 \n 문자열을 하나로 대입할 때"
print(s)

여러줄로 구성된
 문자열을 하나로 대입할 때

In [12]:
s = '''여러줄로 구성된
문자열을 하나로 
대입할 때'''
print(s)

여러줄로 구성된 문자열을 하나로 대입할 때

In [13]:
s = '''여러줄로 구성된 \t 문자열을 하나로 대입할 때'''
print(s)

여러줄로 구성된 	 문자열을 하나로 대입할 때

In [20]:
s = "My name is SH"
print(s[11])
print(s[12])

S
H

In [27]:
s = "My name is SH"
print(s[-2])
print(s[-1])

S
H

In [28]:
s = "My name is SH"
print(s[0:2])
print(s[3:7])
print(s[8:10])

My
name
is

In [30]:
s = "My name is SH"
print(s[0:7])
print(s[:7])
print(s[:])

My name
My name
My name is SH

In [38]:
s = "My name is SH"
print(s[8:13])
print(s[8:])
print(s[-5:])

is SH
is SH
is SH

In [42]:
s = "My name is SH"
print(s[-13:])
print(s[:])
print(s[0:])
print(s) #변수 선택하면 모든 문자 출력

My name is SH
My name is SH
My name is SH

In [50]:
s = "2020년 3월 3일의 날씨는 맑음입니다."
print("날짜:", s[:11])   # 콤마 써주기!
print("날씨:", s[17:19]) #(s[-6:-4])

날짜: 2020년 3월 3일
날씨: 맑음