In [2]:
day = 3
s = "오늘은 7월 %d입니다." %day
s

'오늘은 7월 3입니다.'

### 포매팅 첫 번째 방법
    •작은 소재목
        •더 작은 소재목

In [6]:
month = 6
day = 22
s = "오늘은 %d월 %d일 입니다."%(month, day)
s

'오늘은 6월 22일 입니다.'

# 포매팅 두 번째 방법

month = 6
day = 22
s = "오늘은 {}d월 {}일 입니다.".format(month, day)
s

# f-string 포매팅

In [8]:
month = 7
day = 7
s = f"오늘은 {month}월 {day}일 입니다."
s

'오늘은 7월 7일 입니다.'

In [10]:
x = 100
y = 200
sum2 = x+ y
print("%d와 %d의 합은 %d입니다."%(x,y,sum2))

100와 200의 합은 300입니다.

# 자주 사용하는 문자열 함수

In [12]:
#count 함수 : 문자열에 포함된 문자 개수 세기
s = "오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다."
s.count("탕수육")

3

In [14]:
#sprip 함수: 양쪽 공백 지우기
s = "       오늘 점심 메뉴는 탕수육입니다.     "
s

'       오늘 점심 메뉴는 탕수육입니다.     '

In [17]:
s.strip()

'오늘 점심 메뉴는 탕수육입니다.'

In [25]:
#replace 함수: 특정 문자를 원하는 문자로 변경하기
s =  "오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다"

In [26]:
s.replace("탕수육","갈비")

'오늘 점심 메뉴는 갈비입니다. 저는 갈비을 매우 좋아해서 갈비만 먹을겁니다'

In [27]:
#split : 문자열을 특정 문자 기준으로 나누기
s

'오늘 점심 메뉴는 탕수육입니다. 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다'

In [28]:
s.split('.')

['오늘 점심 메뉴는 탕수육입니다', ' 저는 탕수육을 매우 좋아해서 탕수육만 먹을겁니다']

#  나누기, 나머지, 몫

In [30]:
num1 =10
num2 = 7
print(num1/num2)
print(num1%num2)
print(num1//num2)

1.4285714285714286
3
1

In [31]:
str1 = "안녕"
str2 = "하세요"
print(str1 + str2)
str1 = "10"
str2 = "7"
print(str1 + str2)

안녕하세요
107

In [33]:
num1 =10
str2 = "7"
print(str(num1) + str2)
print(num1 + int(str2))

107
17

In [43]:
num1 = 23
num2 = 3
print("더하기 결과: %d" %(num1+num2))
print("빼기 결과: %d" %(num1-num2))
print("곱하기 결과: %d" %(num1*num2))
print("나누기 결과: %lf" %(num1/num2))

더하기 결과: 26
빼기 결과: 20
곱하기 결과: 69
나누기 결과: 7.666667

In [44]:
num = input("정수를 입력하세요>>")

정수를 입력하세요>>13

In [45]:
num

'13'

In [46]:
num = int(input("정수를 입력하세요>>"))

정수를 입력하세요>>12

In [47]:
num

12

In [53]:
num1 = int(input())
num2 = int(input())
print("더하기 결과:",num1+num2)
print("빼기 결과: ",num1-num2)
print("곱하기 결과: ",num1*num2)
print("나누기 결과: ",num1/num2)

1
2
더하기 결과: 3
빼기 결과:  -1
곱하기 결과:  2
나누기 결과:  0.5

In [69]:
p_test = int(input("python 점수 입력"))
m_test = int (input("머신러닝 점수 입력"))
d_test = int (input("딥러닝 점수 입력"))
sum1 = p_test+m_test + d_test
av = (p_test+m_test + d_test)/3
print("합계: {}".format(sum1))
print("평균: {}".format(av))

python 점수 입력1
머신러닝 점수 입력1
딥러닝 점수 입력1
합계: 3
평균: 1.0

In [7]:
time = int(input("시간 입력>>"))
hour = time//3600  #1 시간 = 60분 = 3600s
minute = (time%3600)//60    #1분은 60 초
second =time%3600%60    #time%3600%6 이 코드는 3600이 60의 배수니까 => time%60으로 해도 된다.
print("%d시간 %d분 %d초"%(hour,minute,second))

시간 입력>>7533
2시간 5분 33초

In [9]:
s="x"
print(s*10)
st ="안녕하세요"
print(st*2)

xxxxxxxxxx
안녕하세요안녕하세요

In [17]:
print("**********연산하기**********")
num1 = int(input("정수 입력>>"))
num2 = int(input("정수 입력>>"))
cal = input("+연산자 입력>>")
print("%d %c %d = %d"%(num1,cal,num2,num1+num2))

**********연산하기**********
정수 입력>>10
정수 입력>>20
+연산자 입력>>+
10 + 20 = 30

# 지수 연산자

In [22]:
num = int(input("정수 입력>>"))
power = int(input("지수 입력>>"))
print(f"{num}의 {power}승은 {num**power}입니다.")

정수 입력>>2
지수 입력>>2
2의 2승은 4입니다.

# 대입 연산자

In [23]:
num = 27
num += 3
num

30

In [ ]:
# 파이썬은 나누기 연산자가 나오면 실수 형태로 출력된다.

# 파이썬 치환

In [24]:
a=1
b=3
a,b = b,a
print(a,b)

3 1

In [28]:
a = 3
b = 7
print(a>b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
True

In [62]:
random.randint(1,10)

3

In [65]:
import random
a = random.randint(1,10)
b = random.randint(1,10)
print(f"a:{a},b:{b}".format(a,b))
print(a<b)
print(a>b)
print(a==b)
print(a!=b)

a:10,b:6
False
True
False
True

In [66]:
a= 3 
b=7
not a<b

False

In [67]:
not a==b

True

In [68]:
print(3>5 and 10 ==20)
print(3>5 and 10 <20)
print(3<5 and 10 <20)

False
False
True

In [70]:
print(3>5 or 10 ==20)
print(3>5 or 10 <20)
print(3<5 or 10 <20)

False
True
True

# 삼항 연산자

In [72]:
score = 80 
"합격" if score >= 60 else "불합격"

'합격'

In [74]:
score = 50 
"합격" if score >= 60 else "불합격"

'불합격'

In [79]:
a = int(input("정수입력>>"))
b = int(input("정수입력>>"))
print("a:",a) if a > b else print("b:",b)  #조건식이 변경되면 조건도 변경해야 같은 결과값을 출력할 수 있다!

정수입력>>1
정수입력>>2
b: 2

In [86]:
a = int(input("정수입력>>"))
b = int(input("정수입력>>"))
print("두 수의 차:", a-b) if a>b else print("두 수의 차:", b-a)

정수입력>>1
정수입력>>0
두 수의 차: 1

In [93]:
a = int(input("정수입력>>"))
print("%d는(은) 홀수입니다."%a) if a%2!=0 else print("%d는(은) 짝수입니다."%a)

정수입력>>22
22는(은) 짝수입니다.